package templates

templ Home() {
	<html>
		<head>
			<link rel="stylesheet" href="/assets/dist/app.css"/>
			<script src="/assets/dist/app.js"></script>
			<title>Home</title>
		</head>
		<body>
			<div class="bg-red-900">Hello World</div>
		</body>
	</html>
}
